{% load static %}
<script src="../../static/assets/js/jquery.min.js"></script>
<script src="http://cdn.bootstrapmb.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../../static/assets/js/metismenu.min.js"></script>
<script src="../../static/assets/js/jquery.slimscroll.js"></script>
<script src="../../static/assets/js/waves.min.js"></script>

<!--Morris Chart-->
<script src="../../static/plugins/morris/morris.min.js"></script>
<script src="../../static/plugins/raphael/raphael.min.js"></script>

<script src="../../static/assets/pages/dashboard.init.js"></script>

<script src="../../static/plugins/toastr/toastr.min.js"></script>
<script src="../../static/plugins/toastr/toastr.init.js"></script>
<!-- App js -->
<script src="../../static/assets/js/app.js"></script>


<script src="../../static/assets/js/jquery.min.js"></script>



<!-- Required datatable js -->
<script src="../../static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../static/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="../../static/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="../../static/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="../../static/plugins/datatables/jszip.min.js"></script>
<script src="../../static/plugins/datatables/pdfmake.min.js"></script>
<script src="../../static/plugins/datatables/vfs_fonts.js"></script>
<script src="../../static/plugins/datatables/buttons.html5.min.js"></script>
<script src="../../static/plugins/datatables/buttons.print.min.js"></script>
<script src="../../static/plugins/datatables/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="../../static/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="../../static/plugins/datatables/responsive.bootstrap4.min.js"></script>

<script src="../../static/assets/pages/datatables.init.js"></script>

<script>
    var Dialog = function() {
    var showSuccess = function(sMsg, sTitle){
        toastr.success(sMsg, sTitle,{
            "positionClass": "toast-top-full-width",
            timeOut: 1000,
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "tapToDismiss": false
        });
    };

    var showError = function(sMsg, sTitle){
        toastr.error(sMsg, sTitle,{
            "positionClass": "toast-top-full-width",
            timeOut: 5000,
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "tapToDismiss": false
        });
    };

    var showInfo = function(sMsg, sTitle) {
        toastr.info(sMsg,sTitle,{
            "positionClass": "toast-top-full-width",
            timeOut: 3000,
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "tapToDismiss": false
        })
    }

    var showWarning = function(sMsg, sTitle) {
        toastr.warning(sMsg, sTitle,{
            "positionClass": "toast-top-full-width",
            timeOut: 3000,
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "tapToDismiss": false
        })
    }

    var showComfirm = function(sText, sTitle, fnCallback) {
        swal({
                    title: sTitle,
                    text: sText,
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确定",
                    cancelButtonText: "放弃",
                    closeOnConfirm: true
                }
            ,fnCallback
        );
    };
    var showText = function(sText, sTitle, fnCallback) {
        swal(sText,sTitle);
    };
    var showPrompt= function(sText, sTitle, fnCallback) {
        swal({
                title: sTitle,
                text: sText,
                type: "input",
                showCancelButton: true,
                closeOnConfirm: true,
                confirmButtonText: "确定",
                cancelButtonText: "放弃",
                animation: "slide-from-top",
                inputPlaceholder: "输入区"
            },
        function(inputValue){
            $("input[name='inputTmp']").val(inputValue);
            if (inputValue === false) return false;
            if (inputValue === "") {
                swal.showInputError("输入不能为空");
                return false;
            }
            swal("Hey !!", "You wrote: " + inputValue, "success");
        }
        );
    };

    return {
        showSuccess: showSuccess,
        showError: showError,
        showWarning: showWarning,
        showInfo: showInfo,
        showComfirm: showComfirm,
        showText:showText,
        showPrompt:showPrompt
    };
}();
</script>