{% load static %}
<!--Morris Chart CSS -->
<link rel="stylesheet" href="../../static/plugins/morris/morris.css">

<link href="http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../../static/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
<link href="../../static/assets/css/icons.css" rel="stylesheet" type="text/css">
<link href="../../static/assets/css/style.css" rel="stylesheet" type="text/css">


<!-- DataTables -->
<link href="../../static/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="../../static/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="../../static/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<link href="../../static/plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css" />